@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lora:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

.page {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background: #fff;
}

.header {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.header__container {
  width: 278px;
  margin: 55px auto 0;
}

@media screen and (max-width: 768px) {
  .header__container {
    width: 211px;
    margin: 22px auto 4px;

  }
}

.header__title {
  text-align: center;
  font-family: "Lora", "Arial", "Helvetica", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.03cm;
}

@media screen and (max-width: 768px) {
  .header__title {
    font-size: 28px;
    letter-spacing: 0.02cm;
  }
}

.header__logo {
  margin: 13px auto 0;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 206px;
    margin: 3px auto 0;
  }
}

.services {
  max-width: 1280px;
  width: 100%;
  margin: 65px auto 0;
}

@media screen and (max-width: 768px) {
  .services {
    margin: 40px auto 0;
  }
}

.card {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(330px, 330px));
  gap: 67px;
}

.card__container {
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .card__container:first-child {
    grid-row: 2 / 3;
  }
}

.card__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 298px;
  left: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 145px;
}

@media screen and (max-width: 768px) {
  .card__description {
    top: 278px;
    left: 0;
  }
}

.card__description_title {
  font-family: "Lora", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 20px 0 0 15px;
}

.card__description_text {
  font-family: "Lato", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 5px 0 0 15px;
}

.card__description_link {
  font-family: "Lato", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ec5598;
  align-self: flex-end;
  margin: 13px 15px 0 0;
  text-decoration: none;
}

.card__description_link:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}

.card__link_line {
  margin: 0 5px 4px 0;
}

.card__button {
  width: 240px;
  height: 60px;
  display: block;
  margin: 102px auto 55px;
  color: #ec5598;
  background-color: #fff;
  border: 1px solid;
  border-radius: 3px;
  font-family: "Lato", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.card__button:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .card__button {
    margin: 60px auto 55px;
    height: 62px;
  }
}